<?xml version="1.0" encoding="UTF-8"?><juiceboxgallery galleryTitle="Juicebox-Pro Gallery" debugMode="true" splashDescription="This is a sample splash page description. Use this text to describe the gallery to users who are viewing on an mobile device." ><image imageURL="images/QQ20150331-1.png" thumbURL="thumbs/QQ20150331-1.png" linkURL="images/QQ20150331-1.png" linkTarget="_blank"></image></juiceboxgallery>